.about-container {
  display: flex;
}
.about-pre-title {
  margin-bottom: 20px;
}

.about-title {
  color: $secondTitl;
  margin-bottom: 20px;
  margin-bottom: 20px;
}

.about-after-title {
  margin-bottom: 20px;
}

.about-text {
  font-size: 14px;
  line-height: 1.86;

  letter-spacing: 0.02em;

  color: $primText;
  margin-bottom: 40px;
}

.about-list {
  display: flex;
  margin-right: 64px;
}

.about-item + .about-item {
  margin-left: 30px;
}
.about-btn {
  color: $secondTitl;
}
