// :root {
//   --primary-title-color: #ffffff;
//   --secondary-title-color: #303030;
//   --primary-text-color: #555555;
//   --third-text-color: #9da4bd;
//   --secondary-text-color: #303030;
//   --accent-color: #ff6c00;
//   --header-text-color: #ffffff;
// }
$primaryTitl:#ffffff;
$secondTitl:#303030;
$primText:#555555;
$thirdText:#9da4bd;
$secondText:#303030;
$accentC:#ff6c00;
$headText:#ffffff;